@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Smooch+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

$primary-color-one: #22577a;
$primary-color-two: #38a3a5;
$secondary-color-one: #57cc99;
$secondary-color-two: #80ed99;
$secondary-color-three: #c7f9cc;

* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	font-family: "Poppins", Helvetica, sans-serif;
	background-image: linear-gradient(
		to right,
		$primary-color-one,
		$primary-color-two
	);
	display: flex;
	// width: 100vw;
	height: 100vh;
	flex-direction: column;
}

nav {
	display: flex;
	height: auto;
	background-color: $primary-color-one;
	box-shadow: 0px 5px 5px $secondary-color-one;
	font-size: 1.3rem;
	gap: 3em;
	padding: 1em;

	div {
		display: flex;
		align-items: center;
		gap: 0.5em;

		img {
			margin-inline: auto;
			height: 50px;
			width: 50px;
		}

		h1 {
			font-weight: 500;
			color: $secondary-color-three;
			text-shadow: 0px 7px 3px $primary-color-one;
			font-family: "Monoton", cursive;
			align-items: center;
			font-size: clamp(1.5rem, 2.75vh, 3rem);
		}
	}
}

.projects {
	padding-top: 2em;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	height: auto;
	gap: 0.5em;
	h1 {
		font-weight: 500;
		color: $secondary-color-two;
		text-shadow: 0px 5px 3px $primary-color-two;
		font-size: 3.5rem;
		font-family: "Smooch sans", cursive;
	}
}

.project-container {
	display: grid;
	max-width: 600px;
	grid-template-columns: repeat(auto-fit, 300px);
	gap: 3em;
	margin-inline: auto;
	row-gap: 2.5em;
	padding-block: 2em;
	padding-inline: 1em;
	max-width: 70%;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		background-color: $secondary-color-three;
		border-radius: 10px;
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $secondary-color-one;
		border-radius: 10px;
		border: 0.15em solid $secondary-color-three;
	}
}

// Project card styles
.card {
	min-height: 350px;
	background-color: $secondary-color-three;
	border-radius: 1em;
	padding: 1em;
	position: relative;
	box-shadow: inset 0 -1em 0 $secondary-color-two;
	user-select: none;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	transition: 1.5s;
	filter: drop-shadow(5px 5px 3px $secondary-color-one);

	&:hover > svg {
		transform: translateY(-10px);
	}

	input {
		margin-inline: auto;
		width: 8em;
		font-size: 2rem;
		text-align: center;
		background-color: inherit;
		color: $primary-color-one;
		font-weight: bold;
		border: 2px solid transparent;
		caret-color: $primary-color-one;
		border: 2px solid $primary-color-two;
		border-radius: 5px;
		transition: 0.4s;
		&:focus {
			outline: none;
			// border: 2px solid $primary-color-two;
			border-radius: 15px;
			box-shadow: 0px 5px 2px $primary-color-two;
		}
	}

	ul {
		margin: 2.5em;
		font-size: 1rem;
		line-height: 2em;

		li {
			&::marker {
				color: $primary-color-two;
			}
			strong {
				color: $primary-color-one;
			}
		}
	}

	.btn {
		width: 50px;
		height: 50px;
		margin-inline: 40%;
		color: $secondary-color-three;
		border-radius: 50%;
		background: $primary-color-one;
		transition: 0.2s;
		cursor: pointer;
		&:hover {
			filter: drop-shadow(5px 5px 0px $primary-color-two);
			transform: scale(1.02) translateY(-5px);
		}
		&:active {
			filter: none;
			transform: translateY(-5px);
		}
	}

	.delImg {
		width: 50px;
		height: 50px;
		position: absolute;
		right: 1em;
		bottom: 1em;
		cursor: pointer;
		border-radius: 50%;
		&:active {
			transform: scale(90%);
			filter: grayscale(60%);
		}
	}
}

.card-placeholder {
	padding: 0.1em;
	height: 350px;
	border: 5px dashed $secondary-color-three;
	border-radius: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	font-size: 1.5rem;
	color: $secondary-color-three;
	padding-inline: 0.5em;
	cursor: pointer;
	&:active > span {
		animation: scaleDownEffect 700ms;
	}
}

.todo-container {
	display: flex;
	padding-inline: 1em;
	max-width: auto;
	height: auto;

	overflow: auto;
	flex-direction: column;
	&::-webkit-scrollbar {
		background-color: $secondary-color-three;
		border-radius: 10px;
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $secondary-color-one;
		border-radius: 10px;
		border: 0.15em solid $secondary-color-three;
	}
	gap: 25px;
	padding-block: 1rem;
}

.item {
	min-height: 100px;
	width: 70vw;
	background-color: $secondary-color-three;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	padding-inline: 1em;
	position: relative;
	user-select: none;
	justify-content: space-around;
	transition: 0.5s;
	box-shadow: 3px 3px 0px $primary-color-one;
	filter: drop-shadow(5px 5px 3px $secondary-color-one);

	input[type="checkbox"] {
		width: 25px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		accent-color: $primary-color-one;
		border: 3px solid$primary-color-one;
		cursor: pointer;
		appearance: none;
		border-radius: 5px;
		&:hover {
			box-shadow: 0 0 5px $primary-color-two;
		}
		&:checked::after {
			content: "✔";
			font-size: 2rem;
			margin-bottom: 0.25em;
			color: $primary-color-one;
		}
	}

	h3 {
		width: 25ch;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	h4 {
		width: 10ch;
	}

	img {
		width: 35px;
		height: 35px;
		cursor: pointer;
		position: end;
		transition: 0.3s;
		&:hover {
			transform: translateY(-5px);
		}
		&:active {
			transform: translateY(5px);
		}
	}

	form {
		position: fixed;
		background-color: inherit;
		opacity: 0.9;
		bottom: -4em;
		padding: 0.5em;
		padding-block: 1em;
		border-radius: 0.4em;
		display: flex;
		align-items: center;
		gap: 1em;
		z-index: 10;
		input,
		select {
			background-color: inherit;
			border: 2px solid $primary-color-one;
			border-radius: 2px;
			height: 1.5em;
			padding-inline: 2px;
		}
	}
}

.item-placeholder {
	min-height: 90px;
	width: 70vw;
	display: block;
	border: 5px dashed $secondary-color-three;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	font-size: 1.5rem;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	color: $secondary-color-three;
	padding-inline: 0.5em;
	cursor: pointer;
	margin-inline: 0.7em;

	&:active > div {
		transform: translateX(15px);
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: #cccccc7c;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	form {
		display: flex;
		flex-direction: column;
		width: 400px;
		height: 300px;
		justify-content: space-around;
		background-color: $secondary-color-three;
		padding: 1em;
		border: 3px solid $primary-color-one;
		border-radius: 1rem;
		filter: drop-shadow(5px 5px 3px $secondary-color-one);
		position: relative;
		font-weight: 700;

		img {
			width: 35px;
			height: 35px;
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			cursor: pointer;
		}

		span {
			display: flex;
			gap: 1em;
			align-items: center;
			p {
				color: red;
			}
		}

		div {
			display: flex;
			gap: 0.5em;
			align-items: center;
		}

		input,
		label {
			cursor: pointer;
			display: flex;
		}

		> span input {
			width: 70%;
			accent-color: $primary-color-one;
			border-radius: 5px;
			border: 3px solid $primary-color-one;
			font-size: 1rem;
			background-color: $secondary-color-three;
			height: 2rem;
		}

		button {
			width: 60%;
			margin-inline: auto;
			border-radius: 10px;
			border: 3px solid $primary-color-one;
			background-color: $secondary-color-one;
			color: white;
			height: 30px;
			font-size: 1rem;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: #65b894;
				transform: scale(1.03);
			}
			&:active {
				background-color: #65b894;
				transform: scale(1);
			}
		}
	}
}

@keyframes scaleDownEffect {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes scaleUpEffect {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.completed {
	background: #bebebe;
	filter: grayscale(100%) drop-shadow(5px 5px 3px #696969);
	h3 {
		text-decoration: line-through 3px;
	}
	h4 {
		color: $primary-color-one;
	}
}

.hideEdit {
	transform: scale(0%);
}

.backBtn {
	display: block;
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: $primary-color-one;
	border-radius: 50%;
	transform: rotate(180deg);
	left: 1em;
	top: 1em;
	cursor: pointer;
	&:hover {
		filter: drop-shadow(-5px -5px 0px $primary-color-two);
		transform: scale(1.02) translateY(-5px) rotate(180deg);
	}
	&:active {
		filter: none;
		transform: translateY(-5px) rotate(180deg);
	}
}
